[project]
	description = Spring Boot with Docker :: Learn how to create a Docker container from a Spring Boot application with Maven or Gradle
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anshuman Verma (ansumanverma)
[access "refs/for/refs/*"]
	read = group user/Anshuman Verma (ansumanverma)
	push = group user/Anshuman Verma (ansumanverma)
	label-Code-Review = -2..+2 group user/Anshuman Verma (ansumanverma)
	label-Verified = -1..+1 group user/Anshuman Verma (ansumanverma)
	rebase = group user/Anshuman Verma (ansumanverma)
	removeReviewer = group user/Anshuman Verma (ansumanverma)
	submit = group user/Anshuman Verma (ansumanverma)
[access "refs/heads/*"]
	read = group user/Anshuman Verma (ansumanverma)
	create = group user/Anshuman Verma (ansumanverma)
	push = +force group user/Anshuman Verma (ansumanverma)
	pushMerge = group user/Anshuman Verma (ansumanverma)
[access "refs/tags/*"]
	push = group user/Anshuman Verma (ansumanverma)
	push = +force group user/Anshuman Verma (ansumanverma)
